/* input {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid gray;
} */

.Styled {
  font-family: sans-serif;
  text-align: center;
  width: 70vw;
  margin: 0 auto;
  flex-direction: column;
}

.modal {
  position: absolute;
  z-index: 1;
  /* padding: 100px; */
  /* left: 100px;
  top: 150px; */
  width: 60%;
  height: 80%;
  top: 40%;
  left: 50%;
  margin-top: 5%;
  transform: translate(-50%, -50%);
  overflow: auto;
  /* background-color: rgb(141, 135, 135);
  background-color: rgba(141, 135, 135); */
}